@model IEnumerable<NewQLTV.Models.MUONSACK>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MAMUONTRA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MASINHVIEN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MASACH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NGAYMUON)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MAMUONTRA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MASINHVIEN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MASACH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NGAYMUON)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MATHETV }) |
            @Html.ActionLink("Details", "Details", new { id=item.MATHETV }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MATHETV })
        </td>
    </tr>
}

</table>
