@model NewQLTV.Models.THETHUVIEN

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_layout2.cshtml";
}

<h2>Details</h2>

<div>
    <h4>THETHUVIEN</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MATHETV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MATHETV)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NGAYBATDAU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGAYBATDAU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NGAYKETTHUC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGAYKETTHUC)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MATHETV }) |
    @Html.ActionLink("Back to List", "Index")
</p>
