@model NewQLTV.Models.TRASACH

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TRASACH</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MASACH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MASACH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DA_TRA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DA_TRA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NGAYTRA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGAYTRA)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MAMUONTRA }) |
    @Html.ActionLink("Back to List", "Index")
</p>
